In [4]:
import pandas as pd

In [5]:
db = pd.read_csv("C:\\Users\\LOQ\\Downloads\\Iris.csv")

In [6]:
db

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1.0,5.1,3.5,1.4,0.2,Iris-setosa
1,2.0,4.9,3.0,1.4,0.2,Iris-setosa
2,NaN,4.7,3.2,1.3,0.2,Iris-setosa
3,NaN,4.6,3.1,1.5,0.2,Iris-setosa
4,NaN,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146.0,6.7,3.0,5.2,2.3,Iris-virginica
146,147.0,6.3,2.5,5.0,1.9,Iris-virginica
147,148.0,6.5,3.0,5.2,2.0,Iris-virginica
148,149.0,6.2,3.4,5.4,2.3,Iris-virginica
149,150.0,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
db.head(n=5)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0  1.0            5.1           3.5            1.4           0.2  Iris-setosa
1  2.0            4.9           3.0            1.4           0.2  Iris-setosa
2  NaN            4.7           3.2            1.3           0.2  Iris-setosa
3  NaN            4.6           3.1            1.5           0.2  Iris-setosa
4  NaN            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
db.tail(n=5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146.0,6.7,3.0,5.2,2.3,Iris-virginica
146,147.0,6.3,2.5,5.0,1.9,Iris-virginica
147,148.0,6.5,3.0,5.2,2.0,Iris-virginica
148,149.0,6.2,3.4,5.4,2.3,Iris-virginica
149,150.0,5.9,3.0,5.1,1.8,Iris-virginica

In [9]:
db.index

RangeIndex(start=0, stop=150, step=1)

In [10]:
db.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [11]:
db.shape

(150, 6)

In [12]:
db.dtypes

Id               float64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [13]:
db.columns.values

array(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm',
       'PetalWidthCm', 'Species'], dtype=object)

In [14]:
db.describe(include="all")

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,144.000000,150.000000,150.000000,150.000000,150.000000,150
unique,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,Iris-setosa
freq,NaN,NaN,NaN,NaN,NaN,50
mean,78.416667,5.843333,3.054000,3.758667,1.198667,NaN
std,41.861827,0.828066,0.433594,1.764420,0.763161,NaN
min,1.000000,4.300000,2.000000,1.000000,0.100000,NaN
25%,42.750000,5.100000,2.800000,1.600000,0.300000,NaN
50%,78.500000,5.800000,3.000000,4.350000,1.300000,NaN
75%,114.250000,6.400000,3.300000,5.100000,1.800000,NaN
max,150.000000,7.900000,4.400000,6.900000,2.500000,NaN

In [22]:
db.sort_index(axis=1,ascending=False)

,Species,SepalWidthCm,SepalLengthCm,PetalWidthCm,PetalLengthCm,Id
0,Iris-setosa,3.5,5.1,0.2,1.4,1.0
1,Iris-setosa,3.0,4.9,0.2,1.4,2.0
2,Iris-setosa,3.2,4.7,0.2,1.3,NaN
3,Iris-setosa,3.1,4.6,0.2,1.5,NaN
4,Iris-setosa,3.6,5.0,0.2,1.4,NaN
...,...,...,...,...,...,...
145,Iris-virginica,3.0,6.7,2.3,5.2,146.0
146,Iris-virginica,2.5,6.3,1.9,5.0,147.0
147,Iris-virginica,3.0,6.5,2.0,5.2,148.0
148,Iris-virginica,3.4,6.2,2.3,5.4,149.0
149,Iris-virginica,3.0,5.9,1.8,5.1,150.0

In [38]:
db.sort_values(by="SepalWidthCm")

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
60,61.0,5.0,2.0,3.5,1.0,Iris-versicolor
62,63.0,6.0,2.2,4.0,1.0,Iris-versicolor
119,120.0,6.0,2.2,5.0,1.5,Iris-virginica
68,69.0,6.2,2.2,4.5,1.5,Iris-versicolor
41,42.0,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
16,17.0,5.4,3.9,1.3,0.4,Iris-setosa
14,15.0,5.8,4.0,1.2,0.2,Iris-setosa
32,33.0,5.2,4.1,1.5,0.1,Iris-setosa
33,34.0,5.5,4.2,1.4,0.2,Iris-setosa
15,16.0,5.7,4.4,1.5,0.4,Iris-setosa

In [27]:
db.iloc[5]

Id                       NaN
SepalLengthCm            5.4
SepalWidthCm             3.9
PetalLengthCm            1.7
PetalWidthCm             0.4
Species          Iris-setosa
Name: 5, dtype: object

In [28]:
db[0:3]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0  1.0            5.1           3.5            1.4           0.2  Iris-setosa
1  2.0            4.9           3.0            1.4           0.2  Iris-setosa
2  NaN            4.7           3.2            1.3           0.2  Iris-setosa

In [37]:
db.loc[:,["SepalLengthCm","SepalWidthCm"]]

     SepalLengthCm  SepalWidthCm
0              5.1           3.5
1              4.9           3.0
2              4.7           3.2
3              4.6           3.1
4              5.0           3.6
..             ...           ...
145            6.7           3.0
146            6.3           2.5
147            6.5           3.0
148            6.2           3.4
149            5.9           3.0

[150 rows x 2 columns]

In [36]:
db.iloc[:5,:]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0  1.0            5.1           3.5            1.4           0.2  Iris-setosa
1  2.0            4.9           3.0            1.4           0.2  Iris-setosa
2  NaN            4.7           3.2            1.3           0.2  Iris-setosa
3  NaN            4.6           3.1            1.5           0.2  Iris-setosa
4  NaN            5.0           3.6            1.4           0.2  Iris-setosa

In [39]:
db.iloc[:5,:4]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
0  1.0            5.1           3.5            1.4
1  2.0            4.9           3.0            1.4
2  NaN            4.7           3.2            1.3
3  NaN            4.6           3.1            1.5
4  NaN            5.0           3.6            1.4

In [41]:
db.iloc[3:6,0:2]

   Id  SepalLengthCm
3 NaN            4.6
4 NaN            5.0
5 NaN            5.4

In [43]:
db.iloc[[1,6,7],0:3]

    Id  SepalLengthCm  SepalWidthCm
1  2.0            4.9           3.0
6  NaN            4.6           3.4
7  NaN            5.0           3.4

In [44]:
db.iloc[[1,4,5],:]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1  2.0            4.9           3.0            1.4           0.2  Iris-setosa
4  NaN            5.0           3.6            1.4           0.2  Iris-setosa
5  NaN            5.4           3.9            1.7           0.4  Iris-setosa

In [45]:
db.iloc[:,0:2]

        Id  SepalLengthCm
0      1.0            5.1
1      2.0            4.9
2      NaN            4.7
3      NaN            4.6
4      NaN            5.0
..     ...            ...
145  146.0            6.7
146  147.0            6.3
147  148.0            6.5
148  149.0            6.2
149  150.0            5.9

[150 rows x 2 columns]

In [46]:
db.iloc[2,4]

np.float64(0.2)

In [49]:
db['SepalLengthCm'].iloc[2]

np.float64(4.7)

In [50]:
cols_2_4=db.columns[2:4]

In [51]:
db[cols_2_4]

     SepalWidthCm  PetalLengthCm
0             3.5            1.4
1             3.0            1.4
2             3.2            1.3
3             3.1            1.5
4             3.6            1.4
..            ...            ...
145           3.0            5.2
146           2.5            5.0
147           3.0            5.2
148           3.4            5.4
149           3.0            5.1

[150 rows x 2 columns]

In [52]:
db[db.columns[2:4]].iloc[4:6]

   SepalWidthCm  PetalLengthCm
4           3.6            1.4
5           3.9            1.7